

/*    breadcrumb-option    */

.breadcrumb-option {
    padding: 130px 0;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.breadcrumb-option {
    background-image: url(../../../images//breadcrumb-bg.jpg);
}

.breadcrumb__text h1 {
    color: #ffffff;
    font-weight: 500;
    font-size: 72px;
    margin-bottom: 10px;
}

.breadcrumb__links a {
    font-size: 18px;
    color: #ffffff;
    margin-right: 22px;
    display: inline-block;
    position: relative;
}

.breadcrumb__links a:hover {
    text-decoration: none;
    color: #b9b7b7;
}

.breadcrumb__links a:after {
    position: absolute;
    right: -18px;
    top: 0;
    content: "";
    font-family: "FontAwesome";
}

.breadcrumb__links span {
    font-size: 18px;
    color: #777C81;
    display: inline-block;
}



/* section */

.spad {
    padding-top: 100px;
    padding-bottom: 100px;
}

.room__pic__slider {
    margin-bottom: 60px;
}

.room__pic__item {
    height: 400px;
}

.room__text {
    margin-bottom: 60px;
}

.room__text h3 {
    color: #19191A;
    font-weight: 500;
    margin-bottom: 32px;
}

.room__text h2 {
    font-size: 48px;
    color: #E9AD28;
    position: relative;
    padding-left: 12px;
    margin-bottom: 20px;
}

.room__text h2 sup {
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 15px;
    color: #1d1c1c;
}

.room__text h2 span {
    font-size: 18px;
    color: #1d1c1c;
}

.room__text ul {
    margin-bottom: 30px;
}

.room__text ul li {
    list-style: none;
    font-size: 18px;
    color: #1d1c1c;
    line-height: 36px;
}

.room__text ul li span {
    display: inline-block;
    width: 130px;
}

.room__text a {
    font-size: 17px;
    color: #1d1c1c;
    font-family: "Barlow Condensed", sans-serif;
    position: relative;
    padding: 4px 0;
    display: inline-block;
    font-weight: 500;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.room__text a:before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #E9AD28;
    content: "";
}

.room__text.right__text {
    padding-left: 85px;
}

/* Carasuel */

.main__carasuel {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
}

.main__carasuel .carasuel {
    width: 1800px;
    margin: 0 auto;
}

.main__carasuel .carasuel .item {
    width: 600px!important;
    height: 400px;
}

.pagination__number {
    text-align: center;
}

.pagination__number a {
    font-size: 16px;
    display: inline-block;
    padding: 10px 16px 8px;
    color: #777C81;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.pagination__number a span {
    font-size: 16px;
    position: relative;
    top: 3px;
    margin-left: 3px;
}

